Protocol 2
Port 22
LookupClientHostnames no
VerifyReverseMapping no
ListenAddress ::
GatewayPorts no
X11Forwarding no
PrintMotd no
KeepAlive yes
SyslogFacility local1
LogLevel info
HostKey /var/ssh/ssh_host_rsa_key
HostKey /var/ssh/ssh_host_dsa_key
ServerKeyBits 768
KeyRegenerationInterval 3600
StrictModes yes
LoginGraceTime 600
MaxAuthTries    6
MaxAuthTriesLog 3
PermitEmptyPasswords no
PasswordAuthentication no
PermitRootLogin no
IgnoreRhosts yes
RhostsAuthentication no
RhostsRSAAuthentication no
RSAAuthentication yes
GSSAPIAuthentication no
GSSAPIKeyExchange no
XAuthLocation /opt/local/bin/xauth
PubKeyPlugin libsmartsshd.so
AllowUsers rob
ChallengeResponseAuthentication no
